@font-face {
  font-family: "Poppins";
  src: url("./components/fonts/Poppins-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Poppins";
  src: url("./components/fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("./components/fonts/Poppins-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Poppins";
  src: url("./components/fonts/Poppins-Thin.ttf");
  font-weight: 100;
}

body {
  margin: 0;
  padding: 0;
}

section {
  margin: 0 auto;
  top: 0;
  /* background: #ece3ce; */
  color: black;
  font-family: "Poppins", sans-serif;
}

.app-body {
  background: black;
  width: 100%;
  padding: 0;
  margin: 0;
}
.spacer {
  height: 70px;
  /* border: 1px solid black; */
}

html {
  scroll-behavior: smooth;
}

.footer {
  background: #3a4d39;
  color: white;
  display: flex;
  justify-content: right;
  align-items: center;
  height: 50px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.footer p {
  margin-right: 20px;
}

#space-2 {
  background-color: #3a4d39;
}

#space-3 {
  background-color: #ece3ce;
  /* border: 1px solid black; */
}

#space-4 {
  background-color: white;
}

#space-5 {
  background-color: #ece3ce;
}

#space-6 {
  background-color: #4f6f52;
}

#space-7 {
  background-color: #4f6f52;
}
